.header-1 {
    height: 1px;
}

.redes-sociais ul li{
    display: inline-block;
    float: left;
    margin-left: 1rem;
    list-style: none;
}

.redes-sociais {
    width: 20%;
    float: right;
}

.photo {
    float: left;
    padding: 0px;
    width: 80%;
}

.title {
    width: 100vw;
    max-width: 1500px;
    margin: 0rem;
    padding: 0;
    box-sizing: border-box;
}

.name {
    display: flex;
    float: right;
    width: 900px;
    margin-top: -220px;
    color: var(--color-title-in-primary);
}

.sub-title {
    display: flex;
    float: right;
    width: 900px;
    margin-top: -150px;
    color: var(--color-title-in-secundary);
}


.profile {
    display: flex;
    float: left;
    width: 200px;
    margin-left: 150px;
    margin-top: 30px;
    color: var(--color-title-in-secundary);
    font-size: 2.5rem;
}

.description {
    display: flex;
    float: left;
    width: 250px;
    margin-top: 90px;
    margin-left: -195px;
    color: var(--color-title-in-primary);
    font: 500 1.4rem Akhbar MT;
}

.ability {
    display: flex;
    float: left;
    width: 270px;
    margin-left: -250px;
    margin-top: 250px;
    color: var(--color-title-in-secundary);
    font-size: 2.5rem;

}

.description1 {
    display: flex;
    float: left;
    width: 250px;
    margin-top: 310px;
    margin-left: -270px;
    color: var(--color-title-in-primary);
    font: 500 1.4rem Akhbar MT;
}

.contact {
    display:flex;
    float: left;
    width: 900px;
    margin-top: -309px;
    margin-left: 600px;
    color: var(--color-title-in-secundary);
    font-size: 2.5rem;
}

.description2 {
    display: flex;
    float: left;
    width: 250px;
    margin-top: -250px;
    margin-left: 605px;
    color: var(--color-title-in-primary);
    font: 500 1.4rem Akhbar MT;
}

.reference {
    display: flex;
    float: left;
    width: 900px;
    margin-top: -25px;
    margin-left: 600px;
    color: var(--color-title-in-secundary);
    font-size: 2.5rem;
}

.description3 {
    display: flex;
    float: left;
    width: 250px;
    margin-top: -20px;
    margin-left: 605px;
    color: var(--color-title-in-primary);
    font: 500 1.4rem Akhbar MT;
}

.formation {
    display: flex;
    float: left;
    margin-top: -575px;
    margin-left: 1090px;
    color: var(--color-title-in-secundary);
    font-size: 2.5rem;
}

.description4{
    display: flex;
    float: left;
    width: 250px;
    margin-top: -516px;
    margin-left: 1095px;
    color: var(--color-title-in-primary);
    font: 500 1.4rem Akhbar MT;
}


